@page "/tours/{tourName?}"
@model FuseHostelsAndTravel.Web.Pages.Tours.IndexModel

@if (Model.Tour != null)
{
    ViewData["Title"] = Model.Tour.Name;

    @section Styles {
        <style type="text/css">
            .header-banner-image-background {
                height: 60vh
            }
        </style>
    }

    <section id="headerBanner">
        @Html.DisplayFor(x => x.HeaderBanner)
    </section>

    <section id="introduction" class="bg-light">
        <div class="container-fluid">
            <div class="container pb-8 pt-8">
                <div class="row">
                    <div class="col-md-12 col-lg-6 mb-5 mb-lg-0 has-parallax-scroll">
                        <h1 class="display-3">@Model.Tour.Name.ToUpper()</h1>
                        @Html.Raw(Model.Tour.Description)
                    </div>
                    <div class="p-0 mt-5 mt-lg-0 col-md-12 col-lg-6 d-lg-flex align-items-center justify-content-center has-parallax-scroll d-none">
                        <div class="bg-white p-7">
                            <div class="text-center">
                                <h4 class="tilted mt-n7 mb-4 display-6">BOOK YOUR TOUR</h4>
                            </div>
                            <p><i class="fa-solid fa-clock me-2"></i> @Model.Tour.HourDuration hours</p>
                            <p><i class="fa-solid fa-circle-dollar-to-slot me-2"></i> $@Model.Tour.Price @Model.Tour.PriceLabel</p>
                            <div class="text-center mb-n7 mt-4">
                                <button class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#enquireNowModal">Enquire Now</button>
                            </div>
                        </div>
                    </div>

                    <div class="mt-5 mt-lg-0 col-md-12 col-lg-6 d-flex align-items-center justify-content-center has-parallax-scroll d-lg-none bg-white">
                        <div class="bg-white pt-6 pb-6">
                            <div class="text-center">
                                <h4 class="tilted mt-n7 mb-4 display-6">BOOK YOUR TOUR</h4>
                            </div>
                            <p><i class="fa-solid fa-clock me-2"></i> @Model.Tour.HourDuration hours</p>
                            <p><i class="fa-solid fa-circle-dollar-to-slot me-2"></i> $@Model.Tour.Price @Model.Tour.PriceLabel</p>

                        </div>
                        <button class="btn btn-primary" id="tourEnquireNowMobileButton" data-mdb-toggle="modal" data-mdb-target="#enquireNowModal">Enquire Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Html.DisplayFor(x => x.EnquireNowComponent)
}
else
{
    ViewData["Title"] = "Tours";

    <section id="tours" class="bg-light">
        @Html.DisplayFor(x => x.ToursCards)
    </section>

    <section id="contactUs">
        <div class="container-fluid bg-gray">
            <div class="container pt-5 pb-5" data-mdb-toggle="animation" data-mdb-animation-start="onScroll" data-mdb-animation-on-scroll="once" data-mdb-animation="slide-in-up" data-mdb-animation-delay="0" data-mdb-animation-duration="1000">
                <div class="row justify-content-lg-between align-items-center">
                    <div class="col-lg-auto mb-3 mb-lg-0">
                        <div class="row flex-column">
                            <h4 class="tilted mt-2">TITLE HERE</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-3 mb-lg-0">
                        <div class="row flex-column">
                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                    <div class="col-lg-auto">
                        <div class="row flex-column">
                            <a class="btn btn-primary" asp-page="/Contact/Index">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
