@model CarouselCardsComponent
@using FuseHostelsAndTravel.Core.Utils

<div class="container-fluid p-0 m-0 position-relative overflow-hidden">
    @if (Model.Header != null && Model.Header.Title != null)
    {
        <div class="container pt-8 pb-8 text-center ovals-container-parent">
            <div class="row justify-content-lg-center" data-mdb-toggle="@Model.AnimationStart" data-mdb-animation-start="onScroll" data-mdb-animation-on-scroll="once" data-mdb-animation="fade-in-up" data-mdb-animation-delay="0" data-mdb-animation-duration="2000">
                <div class="col-12">
                    <h2 class="@(Model.Header.Body == null ? "mb-0" : "")">@Html.Raw(Model.Header.Title)</h2>
                </div>

                @if (Model.Header.Body != null)
                {
                    <p class="m-0 p-0">@Html.Raw(Model.Header.Body)</p>
                }

                @if (Model.Header.OvalContainers != null)
                {
                    @Html.DisplayFor(x => x.Header.OvalContainers)
                }
            </div>
        </div>
    }
    <div class="container pb-8">
        @{
            var carouselId = Model.Header != null ? $"{Model.Header.Title.ConvertToCamelCase("Carousel")}" : "eventsCarousel";

            <div class="owl-carousel owl-theme">
                @for (int i = 0; i < Model.Cards.Count(); i++)
                {
                    var card = Model.Cards.ToList()[i];
                    <partial name="@Model.PartialView" model="card" />
                }
            </div>
        }
    </div>
</div>

