@model NavPillsComponent

<div class="container pt-8 pb-8 ovals-container-parent" >
    <div class="row mb-5 justify-content-lg-center text-center" data-mdb-toggle="animation" data-mdb-animation-start="onScroll" data-mdb-animation-on-scroll="once" data-mdb-animation="fade-in-up" data-mdb-animation-delay="0" data-mdb-animation-duration="2000">
        <div class="col-12">
            <h2>@Model.Title</h2>
        </div>
    </div>
    <div class="row justify-content-lg-center" data-mdb-toggle="animation" data-mdb-animation-start="onScroll" data-mdb-animation-on-scroll="once" data-mdb-animation="fade-in-up" data-mdb-animation-delay="0" data-mdb-animation-duration="2000">
        <div class="col-12">
            <!-- Pills navs -->
            <ul class="nav nav-pills mb-0" id="directionsTabs" role="tablist">
                @foreach (var navPill in Model.NavPills)
                {
                    var pillId = $"{navPill.FriendlyTitle}-pill";
                    var tabId = $"{navPill.FriendlyTitle}-tab";

                    <li class="nav-item" role="presentation">
                        <a class="nav-link @(navPill == Model.NavPills.First() ? "active" : "") mb-0" id="@tabId" data-mdb-toggle="pill" href="#@pillId" role="tab" aria-controls="@pillId" aria-selected="true">@navPill.Title</a>
                    </li>
                }
            </ul>
            <!-- Pills navs -->
            <!-- Pills content -->
            <div class="tab-content bg-gray text-white p-7" id="directionsTabsContent">
                @foreach (var navPill in Model.NavPills)
                {
                    var pillId = $"{navPill.FriendlyTitle}-pill";
                    var tabId = $"{navPill.FriendlyTitle}-tab";

                    <div class="tab-pane fade show @(navPill == Model.NavPills.First() ? "active" : "")" id="@pillId" role="tabpanel" aria-labelledby="@tabId">
                        <div class="row">
                            @foreach (var content in navPill.Content)
                            {
                                <div class="col-lg-6" style="@content.Style">
                                    @Html.Raw(content.Body)
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <!-- Pills content -->
        </div>
    </div>
</div>
