@model FuseHostelsAndTravel.Core.Models.WebComponents.BookNowComponent

    <form method="post" id="@(Model.IsModal ? "bookNowModalForm" : "bookNowForm")" class="row @(Model.Floating ? "bg-light py-4 px-2 rounded" : "")">
        <div class="col-lg-@(Model.IsModal ? "12" : "3") mb-3 mb-lg-@(Model.IsModal ? "3" : "0") position-relative">
            <div class="h-100" style="min-height:47px;">
                <select asp-for="HostelId" class="select h-100 bg-white">
                    <option value="" hidden selected></option>
                    @foreach (var hostel in Model.Hostels)
                    {
                        if (hostel.CloudbedsKey != null)
                        {
                            <option value="@hostel.Id" selected="@(Model.HostelId.HasValue && Model.HostelId.Value == hostel.Id)">@hostel.Name</option>
                        }
                    }
                </select>
                <label class="form-label select-label">Hostel</label>
            </div>
            <span asp-validation-for="HostelId" class="fuse-validation" style="bottom:-20px;"></span>
        </div>
        <div class="col-lg-@(Model.IsModal ? "12" : "3") mb-3 mb-lg-@(Model.IsModal ? "3" : "0") position-relative">
            <div class="form-outline datepicker-disable-past h-100" style="min-height:47px;" id="checkInDatePicker" data-mdb-toggle-button="false" data-mdb-format="dd/mm/yyyy">
                <input asp-for="CheckInDate" placeholder="Check In Date" type="text" class="form-control cursor-pointer h-100" data-mdb-toggle="datepicker" />
                <label asp-for="CheckInDate" class="form-label">Check In</label>
                <button class="datepicker-toggle-button" data-mdb-toggle="datepicker">
                    <i class="fas fa-calendar-days datepicker-toggle-icon text-purple"></i>
                </button>
            </div>
            <span asp-validation-for="CheckInDate" class="fuse-validation" style="bottom:-20px;"></span>
        </div>
        <div class="col-lg-@(Model.IsModal ? "12" : "3") mb-3 mb-lg-@(Model.IsModal ? "3" : "0") position-relative">
            <div class="form-outline datepicker-disable-past h-100" style="min-height:47px;" id="checkOutDatePicker" data-mdb-toggle-button="false" data-mdb-format="dd/mm/yyyy">
                <input asp-for="CheckOutDate" placeholder="Check Out Date" type="text" class="form-control cursor-pointer h-100" data-mdb-toggle="datepicker" />
                <label asp-for="CheckOutDate" class="form-label">Check Out</label>
                <button class="datepicker-toggle-button" data-mdb-toggle="datepicker">
                    <i class="fas fa-calendar-days datepicker-toggle-icon text-purple"></i>
                </button>
            </div>
            <span asp-validation-for="CheckOutDate" class="fuse-validation" style="bottom:-20px;"></span>
        </div>
        <div class="col-lg-@(Model.IsModal ? "12" : "3")">
            <button class="btn btn-primary w-100" type="submit" asp-page-handler="SearchRooms">@(Model.Floating || Model.IsModal ? "Book Now" : "Search For Rooms")</button>
        </div>
    </form>