@model TravaloudBasePageModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<header>
    @{
        var httpContext = HttpContextAccessor.HttpContext;

        if (httpContext != null)
        {
            var currentPath = httpContext.Request.Path.Value != null ? httpContext.Request.Path.Value : "/";

            <nav class="navbar navbar-expand-lg navbar-dark d-lg-block bg-lg-white fixed-top py-4 py-lg-3 @(currentPath != "/" ? "shadow always-shadow" : "")">
                <div class="container">
                    <a class="navbar-brand navbar-brand-mobile position-absolute nav-link d-flex d-lg-none" asp-page="/Home/Index">
                        <strong>FUSE</strong>
                    </a>

                    <button id="navbarToggler" class="navbar-toggler ms-auto m-0 p-0" type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#fuseNavbar"
                            aria-controls="fuseNavbar" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <div class="animated-icon3"><span></span><span></span><span></span></div>
                    </button>

                    <div class="collapse navbar-collapse" id="fuseNavbar">
                        <div class="col-lg-3 d-none d-lg-flex justify-content-start pt-5 pt-lg-0">
                            <a class="navbar-brand navbar-brand-desktop nav-link position-absolute" asp-page="/Home/Index">
                                <strong>FUSE</strong>
                            </a>
                        </div>
                        <div class="col-md-12 col-lg-6 d-flex justify-content-lg-center pt-5 pt-lg-0">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown mt-4 mt-lg-0 mb-lg-0">
                                    <a class="nav-link d-none d-lg-block dropdown-toggle @(currentPath.Contains("/hostels") ? "active" : "" )" asp-page="/Hostels/Index" asp-route-hostelName="" id="navbarDropdownProperties" role="button" aria-expanded="false" aria-haspopup="true">HOSTELS</a>
                                    <ul class="dropdown-menu">
                                        @{
                                            foreach (var property in Model.Properties)
                                            {
                                                <li>
                                                    <a class="dropdown-item text-dark" asp-page="/Hostels/Index" asp-route-propertyName="@property.FriendlyUrl">@property.Name</a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                    <div class="accordion accordion-flush accordion-borderless d-lg-none d-block" id="hostelsAccordion">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="hostelsAccordionHeading">
                                                <button class="accordion-button collapsed @(currentPath.Contains("/hostels") ? "active" : "" )" data-mdb-toggle="collapse" data-mdb-target="#hostelsAccordionCollapse" aria-expanded="false" aria-controls="hostelsAccordionCollapse" type="button">
                                                    HOSTELS <i class="fa-solid fa-caret-down ms-3"></i>
                                                </button>
                                            </h2>
                                            <div id="hostelsAccordionCollapse" class="accordion-collapse collapse" aria-labelledby="hostelsAccordionHeading" data-mdb-parent="#hostelsAccordion">
                                                <div class="accordion-body mt-2 mb-1">
                                                    <ul>
                                                        @{
                                                            foreach (var property in Model.Properties)
                                                            {
                                                                <li class="nav-item @(property != Model.Properties.First() ? "mt-4" : "") mb-0">
                                                                    <a class="nav-link" asp-page="/Hostels/Index" asp-route-propertyName="@property.FriendlyUrl">@property.Name</a>
                                                                </li>
                                                            }
                                                        }
                                                        <li class="nav-item mt-4">
                                                            <a class="nav-link" asp-page="/Hostels/Index" asp-route-propertyName="">All Locations</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item dropdown mt-4 mt-lg-0 mb-lg-0">
                                    <a class="nav-link d-none d-lg-block  dropdown-toggle @(currentPath.Contains("/tours") ? "active" : "" )" asp-page="/Tours/Index" asp-route-tourName="" id="navbarDropdownTours" role="button" aria-expanded="false" aria-haspopup="true">TOURS</a>

                                    <ul class="dropdown-menu">
                                        @{
                                            foreach (var tour in Model.Tours)
                                            {
                                                <li>
                                                    <a class="dropdown-item text-dark" asp-page="/Tours/Index" asp-route-tourName="@tour.FriendlyUrl">@tour.Name</a>
                                                </li>
                                            }
                                        }
                                    </ul>

                                    <div class="accordion accordion-flush accordion-borderless d-lg-none d-block" id="toursAccordion">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="toursAccordionHeading">
                                                <button class="accordion-button collapsed @(currentPath.Contains("/hostels") ? "active" : "" )" data-mdb-toggle="collapse" data-mdb-target="#toursAccordionCollapse" aria-expanded="false" aria-controls="toursAccordionCollapse" type="button">
                                                    TOURS <i class="fa-solid fa-caret-down ms-3"></i>
                                                </button>
                                            </h2>
                                            <div id="toursAccordionCollapse"
                                                 class="accordion-collapse collapse"
                                                 aria-labelledby="toursAccordionHeading"
                                                 data-mdb-parent="#toursAccordion">
                                                <div class="accordion-body mt-2 mb-1">
                                                    <ul>
                                                        @{
                                                            foreach (var tour in Model.Tours)
                                                            {
                                                                <li class="nav-item @(tour != Model.Tours.First() ? "mt-4" : "") mb-0">
                                                                    <a class="nav-link" asp-page="/Tours/Index" asp-route-tourName="@tour.FriendlyUrl">@tour.Name</a>
                                                                </li>
                                                            }
                                                        }
                                                        <li class="nav-item mt-4">
                                                            <a class="nav-link" asp-page="/Tours/Index" asp-route-tourName="">All Tours</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item mt-4 mt-lg-0">
                                    <a class="nav-link" asp-page="/OurStory/Index">OUR STORY</a>
                                </li>
                                <li class="nav-item mt-4 mt-lg-0">
                                    <a class="nav-link" asp-page="/Contact/Index">CONTACT</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12 col-lg-3 d-flex justify-content-lg-end">
                            <partial name="_LoginNavigationPartial" />
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar -->
        }
    }
</header>